.u-cl:before,
.u-cl:after {
  content: "";
  display: table;
}
.u-cl:after {
  clear: both;
}
.u-fr {
  float: right;
}
.u-fl {
  float: left;
}
.u-center {
  text-align: center;
}
.u-inline {
  &s {
    font-size: 0;

    &__top > .okr-inline {
      vertical-align: top;
    }
  }

  font-size: 14px;
  display: inline-block;
  vertical-align: middle;

  &__top {
    vertical-align: top;
  }
}
.u-flex {
  display: -webkit-box;
  display: flex;

  &__item {
    -webkit-box-flex: 1;
    flex: 1;
  }
}
.u-tabcell {
  width: 100%;
  display: table;
  table-layout: fixed;

  & > * {
    display: table-cell;
  }
}
.u-scrollauto {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    transition: background 0.3s;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &:hover {
      background: rgba(0, 0, 0, 0.35);
    }
  }
}
.u-mt {
  margin-top: 10px;
}

.u-ml {
  margin-left: 10px;
}

.u-mr {
  margin-right: 10px;
}

.u-mb {
  margin-bottom: 10px;
}
