  /** 日历面板优化  */
  .el-date-range-picker {
      width: 513px;
  }

  .el-date-picker,
  .el-picker-panel__body {
      width: 268px;
  }

  .el-date-picker .el-picker-panel__content {
      width: 252px;
  }

  .el-date-picker__header {
      margin: 8px 8px 0
  }

  .el-picker-panel__content {
      margin: 0 8px 8px;
  }

  .el-date-table {
      font-size: 13px;

      th {
          text-align: center;
      }

      td {
          padding: 0;
      }

      td.today span {
          background: rgb(253, 241, 211);
          font-weight: 400;
      }
  }

  .el-date-editor .el-range__icon,
  .el-date-editor .el-range-separator,
  .el-date-editor .el-range__close-icon {
      line-height: 24px
  }

  .el-message {
      min-width: 300px;
      padding: 12px 12px 12px 16px;
  }

  .el-message-box {
      padding-bottom: 8px;

      &__header {
          padding: 12px 12px 8px;
      }

      &__content {
          padding: 8px 12px;
      }

      &__btns {
          padding: 4px 12px 0;
      }

      &__headerbtn {
          top: 8px;
      }

      &__title {
          font-size: 16px;
      }
  }

  .el-notification {
      border-radius: 3px;
  }

  .el-dialog__header {
      padding: 12px 16px 12px;
      background: #eee;
  }

  .el-page-header__content,
  .el-dialog__title {
      font-size: 16px;
  }

  .el-dialog__headerbtn {
      top: 12px;
      right: 16px;
  }

  .el-dialog__body {
      padding: 16px;
  }

  .el-dialog__footer {
      padding: 8px 16px 16px;
  }

  /**  form */
  .el-form-item {
      margin-bottom: 16px;

      &__error {
          padding-top: 2px;
      }

      &__label,
      &__content {
          line-height: 36px;
      }
  }